<div class="row  mb-2">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-right">
        <a href="/expenses" class="btn btn-info">Back</a>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="clear-fix"></div>

<div class="row  mb-2">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <% if(errors !== null) { %>
        <div class="alert alert-danger " role="alert">
            <strong>Error:</strong><br/>
            <% for(var key in errors){ %>
            <ul class="list-group " style="margin-top: 25px;">
                <h5><%= expensesFieldNames[key] %></h5>
                <% if(errors.hasOwnProperty(key)){ %>
                <% errors[key].forEach(function(item){ %>
                <li class="list-group-item" style="background-color: #f8d7da;"><%= item.message %></li>
                <% }) %>
                <% } %>
            </ul>
            <% } %>
        </div>
        <% } %>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="clear-fix"></div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <!-- Expense form -->
        <form name="add_expenses" method="post" action="/expenses/create">

            <div class="form-group row">
                <label for="dates" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control datepicker" id="dates" name="dates"
                           value="<%= (typeof fields.dates !== 'undefined') ? fields.dates : dates %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="paid_from" class="col-sm-3 col-form-label">Expenses From</label>
                <div class="col-sm-9">
                    <select class="custom-select mr-sm-2" id="paid_from" name="paid_from">
                        <option <%= (typeof fields.paid_from !== 'undefined' && fields.paid_from == 'credit_card') ? 'selected' : '' %>
                                value="credit_card">Credit Cards
                        </option>
                        <option <%= (typeof fields.paid_from !== 'undefined' && fields.paid_from == 'cash') ? 'selected' : '' %>
                                value="cash">Comm Bank
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="amount_type" class="col-sm-3 col-form-label">Amount type</label>
                <div class="col-sm-9">
                    <select class="custom-select mr-sm-2" id="amount_type" name="amount_type">
                        <option <%= (typeof fields.amount_type !== 'undefined' && fields.amount_type == 'subtracted') ? 'selected' : '' %>
                                value="subtracted">Credited
                        </option>
                        <option <%= (typeof fields.amount_type !== 'undefined' && fields.amount_type == 'added') ? 'selected' : '' %>
                                value="added">Debited
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="payment_type" class="col-sm-3 col-form-label">Payment type</label>
                <div class="col-sm-9">
                    <select class="custom-select mr-sm-2" id="payment_type" name="payment_type">
                        <option <%= (typeof fields.payment_type !== 'undefined' && fields.payment_type == 'credit_comm') ? 'selected' : '' %>
                                value="credit_comm">Credit Card CommBank
                        </option>
                        <option <%= (typeof fields.payment_type !== 'undefined' && fields.payment_type == 'credit_nab') ? 'selected' : '' %>
                                value="credit_nab">Credit Nab Bank
                        </option>
                        <option <%= (typeof fields.payment_type !== 'undefined' && fields.payment_type == 'comm') ? 'selected' : '' %>
                                value="comm">CommBank Account
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="company" class="col-sm-3 col-form-label">Company</label>
                <div class="col-sm-9 autocomplete" id="expenses_company">
                    <input type="text" class="form-control expenses_company" id="company" name="company"
                           value="<%= (typeof fields.company !== 'undefined') ? fields.company : "" %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="category" class="col-sm-3 col-form-label">Cateogry</label>
                <div class="col-sm-9 autocomplete" id="expenses_category">
                    <input type="text" class="form-control expenses_category" id="exp_category" name="category"
                           value="<%= (typeof fields.category !== 'undefined') ? fields.category : "" %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="subcategory" class="col-sm-3 col-form-label">Sub-Category</label>
                <div class="col-sm-9 autocomplete" id="expenses_sub_category">
                    <input type="text" class="form-control expenses_sub_category" id="subcategory" name="subcategory"
                           value="<%= (typeof fields.subcategory !== 'undefined') ? fields.subcategory : "" %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9 autocomplete" id="expenses_title">
                    <input type="text" class="form-control expenses_title" id="title" name="title"
                           value="<%= (typeof fields.title !== 'undefined') ? fields.title : "" %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control mr-sm-2" name="description" id="description" cols="30"
                              rows="10"><%= (typeof fields.description !== 'undefined') ? fields.description : "" %></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="amount_type" class="col-sm-3 col-form-label">Product type</label>
                <div class="col-sm-9">
                    <select class="custom-select mr-sm-2" id="product_type" name="product_type">
                        <option <%= (typeof fields.product_type !== 'undefined' && fields.product_type == 'essential') ? 'selected' : '' %>
                                value="essential">Essential
                        </option>
                        <option <%= (typeof fields.product_type !== 'undefined' && fields.product_type == 'extra') ? 'selected' : '' %>
                                value="extra">Extra
                        </option>
                    </select>
                </div>
            </div>


            <div class="form-group row"  style="display:none;">
                <label for="quantity_per_unit" class="col-sm-3 col-form-label">Quantity per unit</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mr-sm-2" name="quantity_per_unit" id="quantity_per_unit"
                           value="<%= (typeof fields.quantity_per_unit !== 'undefined') ? fields.quantity_per_unit : 0 %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="quantity_bought" class="col-sm-3 col-form-label">Quantity bought</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mr-sm-2" name="quantity_bought" id="quantity_bought"
                           value="<%= (typeof fields.quantity_bought !== 'undefined') ? fields.quantity_bought : 0 %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="unit" class="col-sm-3 col-form-label">Unit</label>
                <div class="col-sm-9 autocomplete"  id="expenses_unit">
                    <input type="text" class="form-control mr-sm-2 expenses_unit" name="unit" id="unit"
                           value="<%= (typeof fields.unit !== 'undefined') ? fields.unit : "" %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mr-sm-2" name="quantity" id="quantity"
                           value="<%= (typeof fields.quantity !== 'undefined') ? fields.quantity : "" %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="amount" class="col-sm-3 col-form-label">Amount</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mr-sm-2" name="amount" id="amount"
                           value="<%= (typeof fields.amount !== 'undefined') ? fields.amount : "" %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="total_amount" class="col-sm-3 col-form-label">Total amount</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mr-sm-2" name="total_amount" id="total_amount"
                           value="<%= (typeof fields.total_amount !== 'undefined') ? fields.total_amount : "" %>">
                </div>
            </div>

            <div class="form-group row">
                <label for="total_amount" class="col-sm-3 col-form-label">Add another</label>
                <div class="col-sm-9">
                    <input type="checkbox" class="form-check-input" id="add_another" checked name="add_another" />

                </div>
            </div>

            <div class="form-group row">
                <label for="total_price" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input type="checkbox" class="form-check-input" id="same_another" checked name="same_another"/>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>

        </form>

    </div>
    <div class="col-md-3"></div>
</div>