<%- partial('./header.ejs') %>


<form name="filter_form" id="filter_form" method="get" action="/expenses/filter">
    <div class="d-flex mt-3 flex-row justify-content-around align-self-stretch  mr-auto">
        <div class="p-2">

            <div class="form-group row">
                <label for="from_date" class="col-sm-12 col-form-label  text-center">From Date</label>
                <div class="col-sm-12">
                    <input type="text" readonly class="form-control datepicker" id="from_date" name="from_date"
                           value="<%= fromDate %>">
                </div>
            </div>

        </div>
        <div class="p-2">
            <div class="form-group row">
                <label for="to_date" class="col-sm-12 col-form-label  text-center">To Date</label>
                <div class="col-sm-12">
                    <input type="text" readonly class="form-control datepicker" id="to_date" name="to_date"
                           value="<%= toDate %>">
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="form-group row">
                <label for="to_date" class="col-sm-12 col-form-label  text-center">Title</label>
                <div class="col-sm-12">
                    <input type="text"  class="form-control" id="search_title" name="search_title"
                           value="<%= searchTitleValue %>">
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="form-group row">
                <label for="product_type" class="col-sm-12 col-form-label text-center">Product Type</label>
                <div class="col-sm-12">
                    <select class="custom-select mr-sm-2" id="product_type" name="product_type">
                        <option value="">All</option>
                        <option <%= (typeof productType !== 'undefined' && productType == 'essential') ? 'selected' : '' %>
                                value="essential">Essential
                        </option>
                        <option <%= (typeof productType !== 'undefined' && productType == 'extra') ? 'selected' : '' %>
                                value="extra">Extra
                        </option>
                    </select>
                </div>
            </div>
        </div>


        <div class="p-2">
            <div class="form-group row">
                <label for="exp_company_filter" class="col-sm-12 col-form-label text-center">Company</label>
                <div class="col-sm-12">
                    <select name="exp_company_filter" id="exp_company_filter" class="form-control">
                        <option value="">All</option>
                        <% company.forEach(function(items){ %>
                        <% if(comValue !== null && comValue == items) { %>
                        <option value="<%= items %>" selected><%= items %></option>
                        <% } else { %>
                        <option value="<%= items %>"><%= items %></option>
                        <% }}) %>
                    </select>
                </div>
            </div>
        </div>

        <div class="p-2">
            <div class="form-group row">
                <label for="exp_category_filter" class="col-sm-12 col-form-label text-center">Category</label>
                <div class="col-sm-12">
                    <select name="exp_category_filter" id="exp_category_filter" class="form-control">
                        <option value="">All</option>
                        <% category.forEach(function(item){ %>
                        <% if(catValue !== null && catValue == item) { %>
                        <option value="<%= item %>" selected><%= item %></option>
                        <% } else { %>
                        <option value="<%= item %>"><%= item %></option>
                        <% }}) %>
                    </select>
                </div>
            </div>
        </div>

        <div class="p-2">
            <div class="form-group row">
                <label for="exp_subcategory_filter" class="col-sm-12 col-form-label  text-center">Sub-Category</label>
                <div class="col-sm-12">
                    <input type="hidden" id="exp_sub_val" value="<%= subCatValue %>"/>
                    <select name="exp_subcategory_filter" id="exp_subcategory_filter" class="form-control">
                    </select>
                </div>
            </div>
        </div>

        <div class="p-2">
            <div class="form-group row">
                <label for="exp_title_filter" class="col-sm-12 col-form-label  text-center">Title</label>
                <div class="col-sm-12">
                    <input type="hidden" id="exp_title" value="<%= expTitle %>"/>
                    <select name="exp_title_filter" id="exp_title_filter" class="form-control">
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex mt-2 flex-row justify-content-around align-self-stretch  mr-auto">
        <div class="p-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>


</form>


<%- partial('./expensesListing.ejs') %>


