<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'My project' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/gijgo.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui.css">
    <!--STYLES END-->
</head>

<body>


<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Myproj</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item <%=(req.originalUrl.includes('bank')) ? 'active' : ''%>">
                        <a class="nav-link" href="/bank">Bank</a>
                    </li>
                    <li class="nav-item <%=(req.originalUrl.includes('expenses')) ? 'active' : ''%>">
                        <a class="nav-link" href="/expenses">Expenses</a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/category">Category</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/subcategory">Sub-Category</a>-->
                    <!--</li>-->
                </ul>

            </div>
        </nav>
    </header>
    <div class="clearfix" style="height:100px;"></div>
    <%- partial('./partials/flashmessage.ejs') %>
    <div class="p2">
        <%- body %>
    </div>
</div>

<!-- Optional JavaScript -->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/bloodhound.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/Chart.bundle.js"></script>
<script src="/js/Chart.bundle.min.js"></script>
<script src="/js/Chart.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/gijgo.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/typeahead.jquery.min.js"></script>
<script src="/js/zmyproj.js"></script>
<!--SCRIPTS END-->
<%- partial('./partials/bottom.ejs') %>
</body>
</html>
