<div class="d-flex flex-row justify-content-around align-self-stretch">
    <div class="p1 mr-auto">
        <a href="/bank/monthly" class="btn btn-info">Monthly</a>
        <a href="/bank/filter" class="btn btn-info">Filter</a>
        <a href="/bank/chart" class="btn btn-info">Charts</a>
        <a href="/bank/weekly" class="btn btn-info">Weekly Charts</a>
    </div>
    <div class="p1">
        <a href="/bank/add" class="btn btn-primary">Add Bank details</a>
    </div>
</div>


<form name="filter_form" id="filter_form" method="get" action="/bank/filter">
    <div class="d-flex mt-3 flex-row justify-content-around align-self-stretch  mr-auto">
        <div class="p1">

            <div class="form-group row">
                <label for="from_date" class="col-sm-12 col-form-label  text-center">From Date</label>
                <div class="col-sm-12">
                    <input type="text" readonly class="form-control datepicker" id="from_date" name="from_date"
                           value="<%= fromDate %>">
                </div>
            </div>

        </div>
        <div class="p1">
            <div class="form-group row">
                <label for="to_date" class="col-sm-12 col-form-label  text-center">To Date</label>
                <div class="col-sm-12">
                    <input type="text" readonly class="form-control datepicker" id="to_date" name="to_date"
                           value="<%= toDate %>">
                </div>
            </div>
        </div>
        <div class="p1">
            <div class="form-group row">
                <label for="category_filter" class="col-sm-12 col-form-label text-center">Category</label>
                <div class="col-sm-12">
                    <select name="category_filter" id="category_filter" class="form-control">
                        <option value="">All</option>
                        <% category.forEach(function(item){ %>
                        <% if(catValue !== null && catValue == item) { %>
                        <option value="<%= item %>" selected><%= item %></option>
                        <% } else { %>
                        <option value="<%= item %>"><%= item %></option>
                        <% }}) %>
                    </select>
                </div>
            </div>
        </div>

        <div class="p1">
            <div class="form-group row">
                <label for="subcategory_filter" class="col-sm-12 col-form-label  text-center">Sub-Category</label>
                <div class="col-sm-12">
                    <input type="hidden" id="sub_val" value="<%= subCatValue %>"/>
                    <select name="subcategory_filter" id="subcategory_filter" class="form-control">
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex mt-2 flex-row justify-content-around align-self-stretch  mr-auto">
        <div class="p1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>


</form>

<div class="d-flex mt-2 flex-row justify-content-around align-self-stretch  mr-auto">

    <table class="table table-striped  table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Category</th>
            <!--<th>Category</th>-->
            <th>Sub - Category</th>
            <!--<th>Sub - Category</th>-->
            <th>Amount Type</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        </thead>
        <% let credit = 0 %>
        <% let debit = 0 %>
        <% rows.forEach(function(details){ %>
        <tr>
            <td><%= moment(details.dates).format('DD-MM-YYYY') %></td>
            <td><%= details.title %></td>
            <td><%= details.category %></td>
            <!--<td><%= details.slug_category %></td>-->
            <td><%= details.subcategory %></td>
            <!--<td><%= details.slug_subcategory %></td>-->
            <td><%= details.amount_type %></td>
            <td><%= details.amount %></td>
            <td>
                <a class="btn btn-info" href="/bank/edit/<%= details.id %>">Edit</a>
                <a class="btn btn-warning" href="delBank(<%= details.id %>)">Delete</a>
            </td>
        </tr>
        <%
            if (details.amount_type == "subtracted") {
                credit += parseInt(details.amount);
            } else {
                debit += parseInt(details.amount);
            }
        %>
        <% }) %>
        <thead class="thead-dark">
        <tr>
            <th colspan="5" class="text-center"> Total</th>
            <th>$ <%= debit - credit %></th>
            <th></th>
        </tr>
        </thead>
    </table>

</div>


